.outer-circle {
  background: linear-gradient(
    63.74deg,
    rgb(0, 84, 253) -16.64%,
    rgb(255, 25, 247) 18.08%,
    rgb(255, 46, 93) 49.91%,
    rgb(255, 200, 7) 87.53%,
    rgb(230, 185, 116) 122.25%,
    rgb(230, 185, 116) 122.25%
  );
  height: 75px;
  width: 75px;
  box-sizing: border-box;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-circle {
  -webkit-box-align: center;
  align-items: center;
  box-shadow: rgba(31, 42, 75, 0.11) 0px 5.85937px 11.7187px;
  background-color: rgb(0, 1, 7);
  display: flex;
  height: 60px;
  -webkit-box-pack: center;
  justify-content: center;
  width: 60px;
  box-sizing: border-box;
  border-radius: 50%;
}

@media (max-width: 420px) {
  .outer-circle,
  .inner-circle {
    display: none;
  }
}
